.btn {
  display: block;
  height: 40px;
  font-size: 1.1em;
  text-transform: uppercase;
  outline: 0;
  border: solid 1px map-get($colors, black);
  transition: box-shadow ease 0.3s;
  @extend .pl-2;
  @extend .pr-2;
  @extend .br-1;
  @extend .bg-blue;
  &:hover, &:focus {
    cursor: pointer;
    @extend .shadow;
  }
  &_disabled {
    opacity: 0.6;
    background-color: map-get($colors, black) !important;
    cursor: initial !important;
    box-shadow: none !important;
    @extend .text-white;
  }
}
