// Gutter
$gutter-base: 8;
$gutter-loop: 5;

// Margin
$margins: (
  ma: margin,
  ml: margin-left,
  mr: margin-right,
  mt: margin-top,
  mb: margin-bottom,
);

// Padding
$paddings: (
  pa: padding,
  pl: padding-left,
  pr: padding-right,
  pt: padding-top,
  pb: padding-bottom,
);

// Header
$header-height: 56px;

// Grid
$grid-cols: 12;

// Border Radius
$border-radius-base: 4;
$border-radius-loop: 5;

// Flex
$flex-position: (end, center, start);

// Colors
$colors: (
  white: #eee,
  black: #333,
  red: #ffb3ba,
  orange: #ffdfba,
  yellow: #ffffba,
  green: #baffc9,
  blue: #bae1ff,
);

// Shadow
$shadow: 0 0 0 3px darken(map-get($colors, blue), 5%);
