#app {
  font-family: Courier, monospace;
  font-size: 14px;
}
.app {
  &-input, &-inputlog {
    margin-top: var(--header-height);
    height: calc(100vh - var(--gutter-4) - var(--header-height));
    display: flex;
    flex-direction: column;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: var(--color-blue);
  &:visited {
    color: var(--color-orange);
  }
}
