@use '../../styles/utils' as *;

html, body, #root, #app {
  height: 100vh;
}
#app {
  font-family: Courier, monospace;
  font-size: $font-size;
  color: map-get($colors, black);
  background-color: map-get($colors, gray);
}
.app {
  &-container, &-left, &-right {
    height: 100%;
    padding-top: $header-height;
  }
  &-right {
    background-color: darken(map-get($colors, gray), 5%);
    border-left: solid 1px darken(map-get($colors, gray), 10%);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
