// Fonts
$font-size: 14px;

// Margins
$gutter-base: 8px;

// Sizes
$header-height: 40px;

// Grid
$grid-cols: 12;
$flex-position: (end, center, start);

// Colors
$colors: (
  white: #fff,
  black: #333,
  gray: #fafafa,
  red: #ffb3ba,
  orange: #ffdfba,
  yellow: #ffffba,
  green: #baffc9,
  blue: #bae1ff,
);
