.action {
  flex-grow: 1;
  overflow: auto;
  .table {
    input {
      border: none;
      width: 100%;
      outline: 0;
      background: transparent;
    }
    tbody tr {
      &:nth-child(2n) {
        background-color: var(--color-blue);
      }
      &:hover {
        cursor: pointer;
        background-color: var(--color-red);
      }
    }
  }
  &-empty {
    max-width: 80%;
    margin: auto;
    text-align: center;
  }
}
