.inputlog {
  flex-grow: 1;
  overflow: auto;
  .table tr:nth-child(2n) {
    background-color: var(--color-blue);
  }
  .table tbody tr:hover {
    cursor: pointer;
    background-color: var(--color-yellow);
  }
  &-empty {
    max-width: 80%;
    margin: auto;
    text-align: center;
  }
  &-title {
    display: block;
    font-weight: bold;
    font-size: 1.1em;
  }
}
